<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcjDMk5YtadO-vbBw01nNTHes73La6R60&callback=initMap"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
