body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

ul.fires {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 20px 0;
  }

  h3 {
    margin: 0;
    padding: 5px 0;

    a {
      color: #333;
    }
  }

}


