---
import type { Fire } from '@utils/fires'
import Card from './Card.astro'
import Map from './Map.astro'
import PageMessage from './PageMessage.astro'

export interface Props {
  fires: Fire[]
}

const { fires } = Astro.props
---

<PageMessage message="Yes, Colorado is on fire" />
<Map fires={fires} />
<div
  id="carousel"
  class="absolute bottom-0 left-0 right-0 carousel carousel-center overflow-y-hidden"
>
  {
    fires.map((fire) => (
      <div
        id={`fire-card-${fire.id}`}
        data-fire-id={fire.id}
        class="carousel-item"
      >
        <Card fire={fire} />
      </div>
    ))
  }
</div>
<script>
  import { focusFire } from '../utils/interaction'

  const carousel = document.getElementById('carousel')
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        const card = entry.target as HTMLDivElement | null
        const fireId = card?.dataset.fireId
        if (entry.intersectionRatio === 1 && fireId) {
          focusFire(fireId)
        }
      })
    },
    { threshold: 1 }
  )

  const items = Array.from(carousel?.children ?? [])
  items.forEach((i) => observer.observe(i))
</script>
